@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*flex*/

.flex {
  display: flex;
}

.flex__wrap {
  flex-wrap: wrap;
}

.flex__col--center {
  flex-direction: column;
  justify-content: center;
}
.jus__Item--center {
  justify-content: center;
  align-items: center;
}

.jus__space--between {
  justify-content: space-between;
}

.align-self {
  align-self: flex-start;
}

/*General*/
:root {
  --black: #000000;
  --dark-blue: #0a2640;
  --light-green: #65e4a3;
  --white: #ffff;
  --light-gray: #d3d3d3;
  --dark-gray: #afafaf;
}
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  line-height: 1.5;
}
img {
  width: 100%;
}

.container {
  width: 1000px;
  height: 625px;
  margin: 0 auto;
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}
/*Company-Header*/

.backGround-color {
  background-color: var(--dark-blue);
}

.ellipse__position {
  width: 600px;
  height: 600px;
  position: absolute;
  right: 0;
  top: 0;
}
.company__logo {
  width: 100px;
}

.company__Header--nav {
  z-index: 99;
}
.company__Header--nav a {
  color: var(--light-gray);
  margin-left: 2.5rem;
}

.Login__button {
  padding: 8px 36px;
  border-radius: 24px;
  margin-left: 2.5rem;
  font-weight: 700;
}

/*Hero-section*/

.hero {
  margin: 4rem 0;
}

.hero__template h1 {
  font-size: 2.5rem;
  color: var(--white);
}

.hero__template p {
  color: var(--light-gray);
  font-size: 0.8rem;
}
.hero__image {
  width: 40%;
  z-index: 200;
}

.button__wrapper {
  margin: 2rem 0;
}

.buy__template {
  padding: 12px 45px;
  border-radius: 24px;
  background-color: var(--dark-blue);
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}

.explore__btn {
  margin-left: 3rem;
  padding: 12px 40px;
  border-radius: 24px;
  background-color: var(--dark-blue);
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
}

.button__wrapper :hover {
  background-color: var(--light-green);
  color: var(--dark-blue);
  font-size: 1rem;
  font-weight: 600;
}

.logos {
  height: 100px;
  margin-bottom: 2rem;
}

/*Services*/

.services {
  margin: 1rem;
}
.services h2 {
  font-size: 1rem;
  color: var(--dark-gray);
  text-align: center;
}

.services h3 {
  font-size: 2rem;
  text-align: center;
}
.services__content {
  margin: 1rem;
}
.services__content h4 {
  font-weight: 600;
  font-size: 1rem;
  margin: 1.2rem 0;
}

.services__content p {
  color: var(--dark-gray);
  font-size: 1rem;
  margin: 0.8rem 0;
}

.services__content button {
  outline: 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--dark-blue);
  font-weight: 600;
  color: var(--dark-blue);
}

.services__content .blank {
  border-bottom: 1px solid black;
  border-radius: 0;
}
.services__content .blank :hover {
  background-color: none;
}

/*Connect*/

.connect {
  margin: 10rem 0;
}
.connect__image {
  position: relative;
}
.connect-1,
.connect-3 {
  width: 450px;
}

.connect-2 {
  width: 300px;
  position: absolute;
  left: 140px;
  bottom: -60px;
}

.connect-4 {
  width: 300px;
  position: absolute;
  left: 140px;
  bottom: -60px;
}

.pie {
  width: 200px;
}
.check {
  width: 30px;
  height: 30px;
  background-color: var(--dark-blue);
  border-radius: 50%;
}

.check img {
  width: 15px;
}

.connect-text {
  width: 40%;
}
.connect-text h2 {
  font-size: 2rem;
}

.check-content {
  margin: 0.5rem 0;
}

.check-content p {
  margin-left: 0.5rem;
}

.check-content button {
  width: 100%;
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.check-content img {
  width: 20px;
}

.ml-1 {
  margin-right: 1rem;
}

.check-content button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.pie {
  width: 200px;

  position: absolute;
  right: 200px;
  bottom: -45px;
}

.blankcard {
  width: 300px;
  position: absolute;
  right: 150px;
  bottom: -100px;
}

/*Testimonials*/
.testimonials {
  margin: 8rem 0;
}

.testimonials h2 {
  font-size: 2rem;
  color: var(--light-gray);
}

.blankCard {
  width: 300px;
  height: 400px;
  background-color: white;
}

.mb2 {
  margin-bottom: 2rem;
}

/*CustomerService*/

.customerservice img {
  height: 400px;
}

.textwrapper {
  margin: 3rem 1rem;
}

.textwrapper p {
  font-size: 2rem;
  margin: 1rem;
}

.accordion {
  width: 400px;
  padding: 0.5rem;
  border-bottom: 2px solid var(--light-gray);
  margin: 1rem 0;
}

.small__circle {
  width: 25px;
  height: 25px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: white;
}

/*Our-Blog*/

.blog {
  margin: 4rem;
}
